@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default, dark --prefersdark, lemonade;

}

:root {
background: hsla(38, 44%, 96%, 1);

background: linear-gradient(360deg, hsla(38, 44%, 96%, 1) 0%, hsla(34, 95%, 78%, 1) 100%);

background: -moz-linear-gradient(360deg, hsla(38, 44%, 96%, 1) 0%, hsla(34, 95%, 78%, 1) 100%);

background: -webkit-linear-gradient(360deg, hsla(38, 44%, 96%, 1) 0%, hsla(34, 95%, 78%, 1) 100%);

--font-primary: 'Roboto', sans-serif; 
  --font-arabic: 'Tajawal', sans-serif;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAF7F2", endColorstr="#FCCF94", GradientType=1 );;}
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground: #000; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
 font-family:  var(--font-arabic) ,var(--font-primary);
}
/* [dir='rtl'] body {
  font-family: var(--font-arabic);
}

[dir='ltr'] body {
  font-family: var(--font-primary);
} */